:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #232738;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffc451;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #151515;
  line-height: 0;
}

.back-to-top:hover {
  background: #151515;
}

.back-to-top:hover i {
  color: #ffc451;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0ms !important;
  }
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(0, 0, 0, 0.444);
}

#header .logo img {
  max-height: 120px;
}

.button-ip {
  color: #fff;
  border-radius: 14px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  background-color: #2e3558a0;
  border-style: solid;
  border-color: #22274885;
  padding: 10px 30px 10px 30px;
}

.button-ip i {
  margin-left: 8px;
  color: #00b7ff;
}

.button-ip:hover {
  color: #c1c1c1;
  transform: scale(90%);
  cursor: pointer;
}

@media (max-width: 992px) {
  .button-ip {
    padding: 7px 20px 8px 20px;
    margin-right: 15px;
  }
}

/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffc23e;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 36px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: rgb(255, 255, 255);
  font-size: 46px;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;

}

.navbar-mobile ul {
  margin-top: 60px;
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #ffc23e;
}

#home {
  width: 100%;
  height: 100vh;
  background: url("../img/fotos/banner.png") top center;
  background-size: cover;
  position: relative;

  
}

#home:before {
  content: "";
  background: linear-gradient(transparent 0, #232738b9 30%, #232738 100%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home .container {
  position: relative;
  padding-top: 74px;
  text-align: left;
  
}

#home h1 {
  margin: 0;
  color: white;
  font-size: 85px;
  font-weight: 700;
  font-family: 'Kanit', 'Roboto', sans-serif;
  filter: drop-shadow(1px 1px 11px #00000095);
}

#home img {
  filter: drop-shadow(1px 1px 11px #00000095);
}

#home h1 span {
  color: #ffc451;
}


@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #home {
    height: auto;
  }

  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #home h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

.section-title {
  padding-bottom: 40px;
}

.store {
  padding: 0;

  view-timeline-name: --revealing-img;

  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --revealing-img;

  animation-range: entry 25% cover 50%;
}

.store .container {
  background-color: #1b1e2e;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  padding: 20px 20px;
}

.store img {
  border-radius: 1rem;
  
}

.store .title {
  font-size: 38px;
  font-weight: 700;
  color: yellow;
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Kanit', 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.store .text {
  font-size: 28px;
  font-weight: 500;
  color: rgb(232, 232, 232);
  margin-bottom: 35px;
  letter-spacing: 1px;
}

.store .content .store-button {
  background-color: #ffd754;

  color: #3c3c3c;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 240px;
  margin-top: 10px;
  border-radius: 14px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.store .content .store-button:hover {
  color: #5c5c5c;
  transform: scale(90%);
}

@media (max-width: 992px) {
  .store .container {
    padding: 30px;
  }
}

.counts {
  padding-top: 150px;
  view-timeline-name: --revealing-img;

  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --revealing-img;

  animation-range: entry 25% cover 50%;
}

.counts .count-box {
  padding: 50px 30px 30px 30px;
  width: 100%;
  position: relative;
  background-color: #1b1e2e;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.06);
  text-align: center;
  border-radius: 1rem;

}

.counts .count-box i {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  background-color: #2e3558;
  color: #00b7ff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.counts .count-box .title-1 {
  color: rgb(0, 255, 119);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

.counts .count-box .title-2 {
  color: rgb(0, 255, 119);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: #ffffff;
  margin-top: -20px;
}

.counts .count-box p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding-top: 6px;
  letter-spacing: 1px;
}
.services{
  view-timeline-name: --revealing-img;

  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --revealing-img;

  animation-range: entry 25% cover 50%;
}
.services .icon-box {
  text-align: center;
  border-radius: 1rem;
  padding: 30px 20px;
  transition: all ease-in-out 0.3s;
  background: #1b1e2e;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background-color: #2e3558;
  color: #00b7ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  color: #3b8af2;
  font-size: 30px;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  color: rgb(250, 255, 110);
  transition: ease-in-out 0.3s;

}

.services .icon-box p {
  margin: 0;
  line-height: 24px;
  font-size: 18px;
  color: rgb(232, 232, 232);
  text-align: center;
}

#footer {
  padding: 0 0 30px 0;

}

#footer .social-links {
  margin-top: 40px;
}

#footer .social-links a {
  font-size: 20px;
  color: #fff;
  margin: 0 3px;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#footer .social-links a i {
  line-height: 0;
}

#footer .social-links a:hover {
  background: #24b7a4;
  border-color: #24b7a4;
  transform: scale(90%);
}

#footer .copyright {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  color: rgb(232, 232, 232);
}

#footer .copyright span {
  color: rgb(75, 149, 181);
}

#footer .credits {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

#footer .credits a {
  color: rgb(240, 255, 104);
}

#ip {
  color: transparent;
  opacity: 0;
}

@media (max-width: 992px) {
  #home h1 {
    margin-top: 80px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Kanit', 'Roboto', sans-serif;
    text-align: center;
    filter: drop-shadow(1px 1px 11px #00000095);
  }

  #home img {
    margin-top: 60px;
  }

  .store .text {
    text-align: center;
  }

  .store .content .store-button {
    background-color: #ffd754;

    color: #3c3c3c;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 99px;
    text-align: center;
    margin-top: 10px;
    border-radius: 14px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;

  }
}
@keyframes show{
  from {
    opacity: 0;
    scale: 25%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
}